{% extends 'layouts/layout.html' %}


{% block title %} {{title}} {% endblock %}

{% load static %}

{% block content %}
    <h1> {{title}} </h1>

    {%if messages%}
        {%for message in messages%}
            <div class="alert_warning">
                {{message}}
            </div>
        {%endfor%}
    {%endif%}

    <div id="contentform">

        <form method='post' action="">

            {% csrf_token %}
            <p>
            <label for="username">Nombre de usuario:</label>
            <input style="padding-left: 7px" type="text" name="username">
            <label for="password">Contraseña:</label>
            <input style="padding-left: 7px" type="password" name="password">

            <input type="submit" value="Iniciar sesión">
            <p>

        </form>

    </div>

{%endblock%}